<%= form_for(@blog1) do |f| %>
  <% if @blog1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@blog1.errors.count, "error") %> prohibited this blog1 from being saved:</h2>

      <ul>
      <% @blog1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :author_name %><br>
    <%= f.text_field :author_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
