<p id="notice"><%= notice %></p>

<h1>Listing Blog1s</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Author name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blog1s.each do |blog1| %>
      <tr>
        <td><%= blog1.title %></td>
        <td><%= blog1.content %></td>
        <td><%= blog1.author_name %></td>
        <td><%= link_to 'Show', blog1 %></td>
        <td><%= link_to 'Edit', edit_blog1_path(blog1) %></td>
        <td><%= link_to 'Destroy', blog1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog1', new_blog1_path %>
