<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog1.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog1.content %>
</p>

<p>
  <strong>Author name:</strong>
  <%= @blog1.author_name %>
</p>

<%= link_to 'Edit', edit_blog1_path(@blog1) %> |
<%= link_to 'Back', blog1s_path %>
